// .player-box:hover .bottom-line-controls{
// opacity: 1;
// }
// .bottom-line-controls{
//     opacity: 0;
// }

.loop-controls{
    top: 0px;
    background: white;
    border-radius: 34px;
}
.rotate-1:hover{
    color:#00e0f7
}
.play-popup:hover{
    color: #00e0f7
}
.blue-text{
    color: #00e0f7 !important;
}
.count{
    color:#f5a623;
}